
body {
  background: #282c34;
}

.App {
  text-align: center;
  text-align: center;
  margin-top: 141px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


h1 {
  color: #d6a6c3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, .fotos {
  background-color: #030303;
}


.fotos {
  position: relative;
  width: 55%;
  max-width: 500px; /* Asegura que las imágenes no excedan los 500px */
  margin: 0 auto; /* Centra el contenedor en la pantalla */
}

.fotos img {
  width: 100%; /* La imagen ocupa el 55% del ancho de la pantalla */
  height: auto; /* Mantiene la proporción de la imagen */
}

.fotos span {
  position: absolute;
  top: 50%; /* Centra verticalmente el texto */
  left: 50%; /* Centra horizontalmente el texto */
  transform: translate(-50%, -50%); /* Ajusta el texto para que quede centrado */
  color: #db658c;
  text-align: center;
  font-size: calc(12px + 2vw); /* Ajusta dinámicamente el tamaño del texto según el ancho de la pantalla */
  max-width: 100%; /* Asegura que el texto no exceda el ancho de la imagen */
  word-wrap: break-word; /* Permite que el texto se ajuste dentro del contenedor */
}

.fotos span:nth-child(1) {
  color: #755fcd;
}

